body {
    padding: 10px;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
    
}

.auction_nav{
    margin-left:10px;

}

.user_nav{
    margin-right:10px;
}

.login_form{
    padding: 10px;
}



/* ---------------------------------------------------------------- */
/* index.html*/
svg.bi.bi-check-circle-fill{
    margin:auto 10px;
}

.listing_wrapper{
    margin:20px auto;
    color: black;
    min-height: 300px;
}
.listing_wrapper a{
    color:black;

}
.img_listing img{
    max-width:400px;
    max-height: 400px;
    border: 1px solid black;
}
.description_listing{
    border: 1px solid black;
    max-width: 70%;
    min-height:100px;
}
.listing_wrapper a:hover{
    text-decoration: none;
}

/* ------------------------------------------------------------------- */
/* listing.html */

.label_listing{
    min-width:120px;
}
.listing_description{
    border: 1px solid black;
    display: inline-block;
    min-height: 200px;
    min-width: 400px;
}
.listed_item{
    background-color: beige;
    padding: 20px;
}
.image_section img{
    max-height:500px;
    max-width:400px;

}
.img_detail_section .column_2 .label_spacing,.bidding_section{
    margin-bottom: 7px;
}

.bidding_section .bid_label{
    margin-right: 20px;
}
/* 
.comment_section .row{
    border: 1px solid black;
} */


.user_comment,.comment_title{
    margin-bottom: 15px;
}
.comment{
   width: 84%;
   height:30px;
   border:none;
   border-bottom: 3px solid black;
   outline: none;
   margin-right: 1%;
}

.comment_user{
    margin-right: 20px;
}

.submit_comment{
    max-width: 100px;
    text-align: center;
}
