{% extends "auctions/layout.html" %}

{% block body %}

<h2 style="text-align:center;">Create a Listing</h2>
<form action="{% url 'create_listing' %}" method="post">
    {% csrf_token %}
        <div class="form-group center">
           <label for="name" class="label_listing">ItemName</label>
           <input type="text" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="price" class="label_listing">Price</label>
            <input type="text" name="price" id="price">
        </div>
        <div class="form-group">
            <label for="description" class="label_listing">Description</label>
            <textarea name="description" id="description"></textarea>
        </div>
    <input type="submit" value="Create Listing">
</form>
{% endblock %}