{% extends "auctions/layout.html" %}
{% block body %}
    <div class="listed_page_wrapper">
        {% if you_won and winning_message %}
        <div class="alert alert-success" role="alert">
           {{winning_message}}
        </div>
        {% elif not you_won and winning_message %}
        <div class="alert alert-warning" role="alert">
            {{winning_message}}
          </div>
        {% endif %}

        
    <form action="{% url 'listing' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="listed_item">
        {% if listing in user.watchlist.all%}
        <div class="alert alert-secondary" role="alert" style="display: inline-block;">
            Watchlist
          </div>
        {% endif %}
        <div class="row listing_title">
            <span><h2>Listing:</h2></span>
            <span><h2>{{listing.name.capitalize}}</h2></span>
        </div>
        
        
            <div class="row img_detail_section">
                <div class="col column_1">
                    <div class="image_section">
                        <img src="{{listing.img_url}}" alt="Listed Item {{listing.name}}"> 
                    </div>
                </div>
                <div class="col column_2">
                    <div class="detail_section">
                    {% if active %}
                    <div class="alert alert-success" role="alert" style="width: 400px;text-align: center;">
                            <strong>ACTIVE</strong></div>
                    {% else %}
                    <div class="alert alert-dark" role="alert" style="width:400px;text-align: center;">
                       <strong>INACTIVE</strong>
                      </div>
                    {% endif%}
                    <div class="label_spacing"><strong>Price</strong>: {{listing.price}}</div>
                    <div class="label_spacing"><strong>Description</strong>:</div>
                    <div class="listing_description label_spacing">{{listing.description}}</div>
                    <div class="label_spacing"><strong>Listed at</strong>: {{date}} {{time}}</div>
                    <div class="label_spacing"><strong>Listed by</strong>: {{listing.user}}</div>
                    </div>
        
                    <div class="bidding_section">
                        {% if message %}
                        <div class="alert alert-danger" role="alert" style="display:inline-block">
                            {{message}}
                        </div>
                        {% endif %}
                        {% if not user_listing and active %}
                        <div class="row">
                            <span class="bid_label"><h5>Bid</h5></span><span><input type="number" name="bid_price" style="margin-right: 10px;"></span>
                            <input type="submit" class="btn btn-dark" value="Place Bid" name="bid" >
                        </div>
                        {% endif %}
                     
                    </div>

                    <div class="row">
                    {% if in_watchlist %}
                    <div class="watchlist">
                        <input type="submit" class="btn btn-secondary" value="Remove from Watchlist" name="remove_watchlist">
                    </div>
                    {% else %}
                    <div class="watchlist">
                        <input type="submit" class="btn btn-secondary" value="Add to Watchlist" name="watchlist">
                    </div>
                    {% endif %}
                    </div>

                    {% if close_listing %}
                    <div >
                        <button type="submit" class="btn btn-danger close_listing" name="close_listing" style="margin-top:20px; width: 400px;">Close Listing </button>
                    </div>
                   {% endif %}
                </div>
        </div>
        </div>
    

        <div class="bid_details">
                <div>Current Bid price: {{listing.price}}</div>
                <div>Current bid by: {{bidder}}</div>
                <div>Number of bids: {{no_bids}}</div>
                <div>
                    <ul>
                        {% for bid in bids %}
                        <li>Bid <strong>{{bid.price}}</strong> by <strong>{{bid.user}}</strong></li>
                        {% empty %}
                        <li>None</li>
                        {% endfor %}
                    </ul>
                 </div>
        </div>
        <div class="comment_section">
                <div class="comment_title"><h3>Comments</h3></div>
                    <div class="user_comment">
                        <div class="row">
                            <div class="comment_user "><strong>{{user}}</strong></icon></div>
                            <textarea class="comment col-l" name="comment"></textarea>
                            <input type="submit" value="Comment" name="comment_user" class="col-sm submit_comment btn btn-primary" />
                        </div>
                    </div>
                    <div class="other_comments">   
                        <ul>
                            {% for comment in comments%}
                            <li>{{comment.comment}}~{{comment.user}}</li>
                            {% empty %}
                            <strong>No Comments</strong>
                            {% endfor %}
                        </ul>
                          
                    </div>
        </div>
       
        </form>
 
    </div>
    

{% endblock %}