{% extends "auctions/layout.html" %}
{% block body %}
<h2>Watchlist</h2>
    {% for listing in watchlists %}
    <div class="row listing_wrapper">
        <div class="col ">
          <div class="img_listing"><img src="{{listing.img_url}}" alt="Item {{ listing.name }}"></div>
        </div>
        <div class="col">
          <a href="{% url 'listing' listing.id %}">
            <div class="col">
              <div class="name_listing"><h4>{{listing.name.capitalize}}</h4></div>
              <div class="price_wrapper_listing row">
                <span class="price_label_listing">Price: </span>
                <div class="price_listing">{{listing.price}}</div>
              </div>
              <div class="description_wrapper_listing">
                <div class="description_label_listing">Decription:</div>
                <div class="description_listing">{{listing.description}}</div>
              </div>
           </div>
        </a>
        </div>
      </div>
    {% empty %}
    <h5>None</h5>
    {% endfor %}



{% endblock %}